
MinerTool/MinerTool.sdf
MinerTool/.vs/MinerTool/v14/.suo
MinerTool/ipch/MINERTOOL-c0c55e63/MINERTOOL-5db23e63.ipch
Debug
x64
ipch
MinerTool/MinerTool.opensdf
MinerTool/MinerTool/sample_0.log
MinerTool/MinerTool/MinerTool.aps
MinerTool/MinerTool/log/20171021_231809_1.log
*.log
MinerTool/MinerTool/MinerTool.aps
MinerTool/.vs/MinerTool/v15/.suo
MinerTool/.vs/MinerTool/v15/Browse.VC.db
